/* amiko-regular - latin */
@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/amiko-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amiko'), local('Amiko-Regular'),
       url('../fonts/amiko-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amiko-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amiko-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amiko-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amiko-v2-latin-regular.svg#Amiko') format('svg'); /* Legacy iOS */
}
/* amiko-600 - latin */
@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/amiko-v2-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Amiko SemiBold'), local('Amiko-SemiBold'),
       url('../fonts/amiko-v2-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amiko-v2-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amiko-v2-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amiko-v2-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amiko-v2-latin-600.svg#Amiko') format('svg'); /* Legacy iOS */
}
/* amiko-700 - latin */
@font-face {
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/amiko-v2-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Amiko Bold'), local('Amiko-Bold'),
       url('../fonts/amiko-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/amiko-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/amiko-v2-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/amiko-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/amiko-v2-latin-700.svg#Amiko') format('svg'); /* Legacy iOS */
}